@use 'colors';
@use 'buttons';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  background: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  border: solid white;
  min-height: 100%;
}

.app-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* TODO make panel separate component */
h1 {
  font-size: 3rem;
  margin: 0;
}
