body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TODO make panel separata component
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.panel h1 {
  font-size: 3rem;
}

#clear {
  width: 100px;
}

#save-img {
  margin-top: 2rem;
}
