.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 100vh;
  .sizeForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    label {
      margin: auto 0;
    }
  }
}

#saveImg {
  margin-top: 1rem;
}
