.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #222;
  .sizeForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    // margin-bottom: auto;
    padding: 20px;
    label {
      margin: auto 0;
    }
  }
}

// #saveImg {
//   margin-top: 1rem;
// }
